*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
html,body{
    padding: 0%;
    margin: 0%;
    border: 0;
}
:root{
    --backgroundColor: #f2c94c;
    --black : #000; 
    --white : #fff;
    --error : red;
}
.hedaer{
    min-height: 5vh;
    width: 100%;
    /* background-image: linear-gradient(#1c1d21,rgba(0, 10, 53, 0.7)); */
    position: relative;
    border-bottom: 2px solid var(--black);
    background-color: var(--backgroundColor);
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: var(--black);
    text-decoration: none;
    font-size: 15px;
}

.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--black);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul li:hover::after{
    width: 100%;

}

.text-box{
    color: var(--black);
    /* position: relative; */
    /* min-height: 20rem; */
    overflow: hidden;
    margin: auto;
}
h1{
    text-align: center;
    margin: auto;
}
.text-box .text-area-center{
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 100vw;
}
.text-box .text-area-center  textarea{
    resize: none;
    width: 50%;
    height: 85px;
    margin: auto;
}
.input:focus {
    outline: none !important;
    border-color: 1px solid var(--backgroundColor);
    box-shadow: 0 0 10px var(--backgroundColor);
}

.text-box .text-area-center #btn{
    width: 12%;
    height: 15%;
    margin: auto;
    border-radius: 2%;
    border: 1px dashed var(--backgroundColor);
    transition: 0.4s;
    font-weight: 800;
    background: var(--backgroundColor);

}
.text-box .text-area-center #btn:hover{
    box-shadow:-2px -2px 5px 0px var(--backgroundColor), -2px -2px 1px 0px var(--backgroundColor),2px 2px 5px 0px var(--black),2px 2px 1px 0px var(--black);
    cursor: pointer;
}
#output{
    width: 50%;
    height: 20%;
    display: inline-block;
    margin: auto;
    border: 1px dashed var(--black);
}
.errorText{
    text-align: center;
    color: var(--error);
    font-size: 1.4rem;
    height: 40px;
    display: block;
}

hr{
    text-decoration: line-through;
    width: 50%;
    text-align: center;
    display: inline-block;
}
.footer{
    text-align: center;
    padding: 1% 10%;
    margin: 7% 0 0 0;
    background-color: var(--backgroundColor);
    bottom: 0px;
}

@media screen and (max-width: 600px) {
    html{
        height: 100vh;
    }
   #output{
       /* bottom: 26%; */
       /* margin: 1rem; */
       /* margin: auto; */
   }
   .text-box .text-area-center #btn {
    width: 30%;
    height: 15%;
   }
}


